.main-content {
  /* margin: 3rem; */
  border: 3rem;
  width: 70%;
  display: inline-flex;
  flex-wrap: wrap;

  align-self: center;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .main-content {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
  }
}
