.form-error {
  color: red !important;
}

.background {
  position: relative;
  background: url(https://images.unsplash.com/photo-1487147264018-f937fba0c817?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80)
    no-repeat;
  height: 100rem;
  padding-bottom: 16px;
  background-size: cover;
  background-position: center;
}
