/*@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");*/

.body {
  font-family: "Permanent Marker", cursive !important;
}

.header {
  text-align: center;
  padding: 20px;
  margin: 20px;
  text-transform: uppercase;
}
.intro {
  width: 50%;
  text-align: center;
  padding: 20px;
  margin: 20px;
}
.main {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-typed {
  font-size: 2.5rem;
  color: #353535;
}
