/*@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");*/

.body {
  font-family: "Permanent Marker", cursive !important;
}

.header {
  text-align: center;
  padding: 20px;
  margin: 20px;
  text-transform: uppercase;
}

.text-typed {
  font-size: 2.5rem;
  color: #353535;
}
