:root {
  --jet: #353535;
  --green: #82b5a5;
  --blue: #9fbfff;
  --white: #ffffff;
  --pink: #f9d9eb;
  --orange-yellow: #f8cf61;
  --red: #f36b7f;
}

/*  */
.event-container {
  background-color: #f8f9fa;
}
/* Header styling */

.header-container {
  background-color: #555555;
  height: 60vh;
}
.header-img {
  width: 100vw;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
}
.header-title {
  color: #f8f9fa;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.header-info {
  margin: auto;
  justify-content: center;
  width: 60%;
  display: flex;
  flex-direction: column;
  background-color: #f9d9eb;
  color: #353535;
  padding: 30px;
}
.column {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.info {
  display: flex;
  flex-direction: row;
  text-align: center;
}

/* Event info styling */

.event-info {
  display: flex;
  flex-direction: row;
  width: 60%;
  margin: auto;
  padding-top: 80px;
}
.event-description {
  background-color: #82b5a5;
  padding: 80px;
  width: 80%;
}
.event-sidebar {
  background-color: #eeeeee;
  padding: 50px 0px;
  width: 30%;
  text-align: center;
}

/* @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
} */
