:root {
  --jet: #353535;
  --green: #82b5a5;
  --blue: #9fbfff;
  --white: #ffffff;
  --pink: #f9d9eb;
  --orange-yellow: #f8cf61;
  --red: #f36b7f;
}

/*  */

/* Header styling */
.event-container {
  margin: auto;
}

.header-container {
  background-color: #555555;
  height: 60vh;
}
.header-img {
  width: 100vw;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
}
.header-title {
  color: #f0f0f0;
  position: absolute;
  text-align: center;
  top: 30%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.buttons {
  cursor: pointer;
  text-align: center;
  background-color: #f36b7f;
  border-radius: 6px;
  border: 0;
  outline: 0;
  width: 40%;
  color: #353535;
  margin-top: 35px;
  height: 25px;
  font-weight: bolder;
  font-family: sans-serif;
}

.buttons:hover {
  background-color: #f68e9d;
}

/* Header Info (date/location/etc) */
.header-info {
  margin: auto;
  height: 50%;
  width: 60%;
  display: flex;
  flex-direction: column;
  background-color: #f9d9eb;
  color: #353535;
  padding: 40px;
}
.column {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.info {
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.info-text {
  padding-left: 6px;
}
