:root {
  --jet: #353535;
  --blue: #878DC5;
}

.cardContent {
  background-color: #878DC5;
}
.button {
  background-color: white;
}
.charity-card-container {
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  max-width: 345px;
}

.heading {
  text-align: center;
  padding: 2px;
  margin: 2px;
}

.charity-info-container {
  padding: 2px;
  margin: 2px;
  text-align:justify;
  text-justify: inter-word;
}

.learnMore {
  justify-content: center;
}