:root {
  --jet: #353535;
  --green: #82b5a5;
  --blue: #9fbfff;
  --white: #ffffff;
  --pink: #f9d9eb;
  --orange-yellow: #f8cf61;
  --red: #f36b7f;
}

body {
  margin: 0;
}

.logo {
  width: 4.25rem;
}

.page {
  margin: 0;
  background-color: #f36b7f;
  min-height: 100vh;
  background: url("./assets/images/charity.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
