:root {
  --jet: #353535;
  --green: #82b5a5;
  --blue: #9fbfff;
  --white: #ffffff;
  --pink: #f9d9eb;
  --orange-yellow: #f8cf61;
  --red: #f36b7f;
}

.logo {
  width: 4.25rem;
}

.app {
  background: url(https://images.unsplash.com/photo-1487147264018-f937fba0c817?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80)
    no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}
.page {
  min-height: 100vh;
}
